@import url("https://fonts.googleapis.com/css2?family=Marmelad&display=swap");
.en {
  font-family: "Marmelad", sans-serif !important;
}

.bg-dark {
  background-color: #272B28 !important;
}

.scroll #hd_wrapper {
  background-color: rgba(248, 248, 248, 0.5);
  border-bottom: 1px solid #1E1E1E;
}
.scroll #hd_wrapper .adtop {
  margin-top: -32px;
}
.scroll #hd_wrapper .gnb_1da {
  color: #999999;
  line-height: 70px;
}

body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
}
body ul {
  padding-left: 0;
  margin-bottom: 0;
}
body ul li {
  margin-bottom: 0;
}
body a {
  color: #1E1E1E;
}
body a:hover {
  text-decoration: none;
}
body.viewmenu #hd_wrapper {
  background-color: #F8F8F8 !important;
}
body #hd:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background-color: rgba(248, 248, 248, 0.5);
  height: 0;
}
body #hd.hover1:before {
  height: 450px;
}
body #hd.hover0:before {
  height: 250px;
}
body #hd_wrapper {
  transition: all 0.5s ease 0s;
  border-bottom: 1px solid #F8F8F8;
}
body #hd_wrapper.on {
  background-color: #F8F8F8;
}
body #hd_wrapper:hover {
  background-color: rgba(248, 248, 248, 0.5);
  border-bottom: 1px solid #1E1E1E;
}
body #hd_wrapper:hover .gnb_1da {
  color: #999999;
  transition: 0.5s;
}
body #hd_wrapper .adtop {
  transition: 0.5s;
}
body #hd_wrapper .adtop a {
  font-size: 12px;
}
body #hd_wrapper .adtop a:hover {
  color: #EDE5D8 !important;
}
body #hd_wrapper #gnb {
  background-color: transparent;
}
body #hd_wrapper .hd_login {
  font-weight: 300;
}
body #hd_wrapper .hd_login li {
  padding-left: 23px;
}
body #hd_wrapper .hd_login li a:hover {
  color: #999999;
}
body #hd_wrapper .gnb_menu_btn {
  background-color: transparent;
  color: #1E1E1E;
  font-size: 40px;
}
body #hd_wrapper #gnb_all {
  width: 100vw;
  left: 0;
  top: 100%;
  background-color: #F8F8F8;
  padding: 2rem;
}
body #hd_wrapper #gnb_all .gnb_close_btn {
  background-color: transparent;
  color: #1E1E1E;
  font-size: 40px;
}
body #hd_wrapper #gnb_all .gnb_al_li .ul2ul {
  display: none;
}
body #hd_wrapper #gnb_all .gnb_al_li .ul2ul.act {
  display: block;
}
body #hd_wrapper #gnb_all .gnb_al_li .ul2ul a {
  color: #999999;
  font-weight: 300;
}
body #hd_wrapper #gnb_all .gnb_al_li .ul2ul a:hover {
  color: #1E1E1E;
  font-weight: 400;
}
body #hd_wrapper #gnb_all .gnb_al_li .a {
  color: #999999;
}
body #hd_wrapper #gnb_all .gnb_al_li .gnb_al_a {
  color: #1E1E1E;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 0;
  padding: 1rem 0;
}
body #gnb_1dul {
  margin: 0;
  border: 0 !important;
}
body #gnb_1dul .gnb_1dli .bg {
  display: none;
}
body #gnb_1dul .gnb_1da {
  color: #F8F8F8;
  font-weight: 300;
  line-height: 100px;
  transition: 0.5s;
}
body #gnb_1dul .gnb_1da:hover {
  color: #1E1E1E !important;
}
body #gnb_1dul .gnb_2dul {
  top: 100%;
  padding-top: 0;
}
body #gnb_1dul .gnb_2dul .gnb_2dli .gnb_2da {
  color: #999999;
  font-weight: 400;
  font-size: 13px;
}
body #gnb_1dul .gnb_2dul .gnb_2dli .gnb_2da:hover {
  color: #1E1E1E;
  font-weight: 700;
}
body .fa + .sound_only {
  position: relative !important;
  width: auto;
  height: auto;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 0.9rem;
  line-height: 1.8;
}
body .btn_bo_user li {
  width: auto !important;
}

#wrapper .swiper-slide.swiper-slide-active .content h3 {
  transform: translateY(0);
  opacity: 1;
}
#wrapper .swiper-slide.swiper-slide-active .content p {
  transform: translateY(0);
  opacity: 1;
}
#wrapper .swiper-slide {
  height: 90vw;
  max-height: 800px;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 1024px) {
  #wrapper .swiper-slide {
    height: 800px;
  }
}
#wrapper .swiper-slide.adm_mainbanner0 .content {
  color: #1E1E1E;
}
#wrapper .swiper-slide.adm_mainbanner0 .content a {
  font-size: 20px;
  font-weight: 200;
  color: #1E1E1E;
  padding: 0.5rem 3rem;
  border: 1.2px solid #1E1E1E;
}
#wrapper .swiper-slide.adm_mainbanner0 .content a:hover {
  background-color: rgba(30, 30, 30, 0.2);
  color: #F8F8F8;
}
@media (max-width: 990px) {
  #wrapper .swiper-slide.adm_mainbanner0 .content {
    color: #F8F8F8;
  }
  #wrapper .swiper-slide.adm_mainbanner0 .content a {
    color: #F8F8F8;
    border: 1.2px solid #F8F8F8;
    font-size: 12px;
    padding: 0.3rem 2rem;
  }
  #wrapper .swiper-slide.adm_mainbanner0 .content a:hover {
    background-color: rgba(248, 248, 248, 0.2);
  }
}
#wrapper .swiper-slide .content {
  color: #F8F8F8;
}
@media (max-width: 990px) {
  #wrapper .swiper-slide .content {
    padding-top: 150px;
  }
}
#wrapper .swiper-slide .content h3 {
  font-size: 50px;
  font-weight: 500;
  transform: translateY(-80%);
  opacity: 0;
  transition: 0.5s;
}
#wrapper .swiper-slide .content p {
  font-weight: 300;
  transform: translateY(80%);
  opacity: 0;
  transition: 0.5s;
}
#wrapper .swiper-slide .content p:first-of-type {
  font-size: 18px;
  margin: 2rem 0;
}
#wrapper .swiper-slide .content p:last-of-type {
  font-size: 17px;
  margin-bottom: 3rem;
}
#wrapper .swiper-slide .content a {
  font-size: 20px;
  font-weight: 200;
  color: #F8F8F8;
  padding: 0.5rem 3rem;
  border: 1.2px solid #F8F8F8;
}
#wrapper .swiper-slide .content a:hover {
  background-color: rgba(248, 248, 248, 0.2);
}
@media (max-width: 990px) {
  #wrapper .swiper-slide .content h3 {
    font-size: 30px;
  }
  #wrapper .swiper-slide .content p {
    font-size: 10px;
  }
  #wrapper .swiper-slide .content a {
    font-size: 12px;
    padding: 0.3rem 2rem;
  }
}

.swiper {
  position: relative;
}
.swiper .swiper-pagination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  right: 35px;
  width: auto;
  left: unset;
  align-items: center;
}
.swiper .swiper-pagination .swiper-pagination-bullet {
  background-color: #F8F8F8;
  margin: 9px 0;
  width: 4px;
  height: 4px;
  opacity: 0.7;
}
.swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 8px;
  height: 8px;
  opacity: 1;
}

.cotegory {
  padding-top: 170px;
}
.cotegory .title {
  padding-bottom: 100px;
  font-size: 50px;
  font-weight: 400;
}
.cotegory .cotegory_li {
  height: 35vw;
  max-height: 430px;
  overflow: hidden;
}
.cotegory .cotegory_li:not(:last-child):after {
  content: "";
  position: absolute;
  width: 5px;
  background-color: white;
  top: 0;
  height: 100%;
  right: 0px;
  z-index: 1000;
}
@media (max-width: 990px) {
  .cotegory .cotegory_li:not(:last-child):after {
    display: none;
  }
}
@media (min-width: 768px) {
  .cotegory .cotegory_li a {
    height: 0;
    padding-top: 25%;
  }
}
.cotegory .cotegory_li a {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1);
  transition: 0.5s;
}
.cotegory .cotegory_li a:hover {
  transform: scale(1.5);
}
.cotegory .cotegory_li strong {
  font-size: 20px;
  font-weight: 500;
  color: #F8F8F8;
  bottom: 1rem;
  right: 2rem;
}

.best {
  padding-top: 170px;
}
.best .title {
  padding-bottom: 100px;
  font-size: 50px;
  font-weight: 400;
  margin: 0;
}
.best .product .product_li {
  height: 45vw;
  max-height: 520px;
  width: 470px;
}
.best .product .product_li a {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.brand {
  margin-top: 180px;
}
.brand .bg {
  height: 90vw;
  max-height: 800px;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  color: #F8F8F8;
}
.brand .bg .content {
  font-size: 35px;
  font-weight: 400;
}
.brand .bg .content .en {
  font-size: 40px;
  font-weight: 300;
  margin-top: 1rem;
}
.brand .bg .content .text {
  font-size: 20px;
  font-weight: 200;
  margin: 3rem 0 4rem 0;
}
.brand .bg .content a {
  font-size: 20px;
  font-weight: 200;
  color: #F8F8F8;
  padding: 0.5rem 3rem;
  border: 1.2px solid #F8F8F8;
}
.brand .bg .content a:hover {
  background-color: rgba(248, 248, 248, 0.2);
}

.instagram {
  margin-top: 170px;
}
.instagram .pic img:hover {
  filter: brightness(0.5);
}
.instagram .content {
  font-size: 35px;
  font-weight: 500;
}
@media (max-width: 990px) {
  .instagram .content {
    text-align: center;
    padding-top: 70px;
  }
}
.instagram .content p {
  font-size: 15px;
  font-weight: 400;
  margin: 2rem 0 4rem;
}
.instagram .content a {
  font-size: 15px;
  font-weight: 300;
  color: #1E1E1E;
  padding: 0.5rem 3rem;
  border: 1.2px solid #1E1E1E;
}
.instagram .content a:hover {
  background-color: rgba(30, 30, 30, 0.2);
  color: #F8F8F8;
}