$activecolor : #999999;
$basiccolor : #1E1E1E;
$minicolor : #EDE5D8;
$basicWcolor : #F8F8F8;
$fontbasic : "Noto Sans KR";
$enfont: "Roboto";
$fontsize : 1rem;
$darkcolor : #272B28;


.bg-dark {
  background-color: $darkcolor !important;
}

body {

  font-family: $enfont, $fontbasic, sans-serif;




  a {
    color: $basiccolor;


    &:hover {
      text-decoration: none;
    }
  }

  #hd_wrapper {


    .adtop {

      a {
        font-size: 12px;

        &:hover {
          color: $minicolor !important;
        }

      }
    }

    .container {
      line-height: 100px;
    }

    #gnb {
      background-color: transparent;
    }

    .hd_login {

      font-weight: 300;

      li {
        padding-left: 23px;

      }
    }
  }


  #gnb_1dul {

    margin: 0;
    border: 0 !important;

    .gnb_1da {
      color: $basicWcolor;
      font-weight: 300;
      padding: 0 20px;


      &:hover {
        color: $basiccolor !important;
      }

    }
  }



  .fa+.sound_only {

    position: relative !important;

    width: auto;
    height: auto;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 0.9rem;
    line-height: 1.8;


  }

  .btn_bo_user li {
    width: auto !important
  }
}