.bg-dark {
  background-color: #272B28 !important;
}

body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
}
body a {
  color: #1E1E1E;
}
body a:hover {
  text-decoration: none;
}
body #hd_wrapper {
  border-bottom: 1px solid #F8F8F8;
}
body #hd_wrapper:hover {
  background-color: rgba(248, 248, 248, 0.5);
  border-bottom: 1px solid #1E1E1E;
}
body #hd_wrapper:hover .gnb_1da {
  color: #999999;
}
body #hd_wrapper .adtop a {
  font-size: 12px;
}
body #hd_wrapper .adtop a:hover {
  color: #EDE5D8 !important;
}
body #hd_wrapper .container {
  line-height: 100px;
}
body #hd_wrapper #gnb {
  background-color: transparent;
}
body #hd_wrapper .hd_login {
  font-weight: 300;
}
body #hd_wrapper .hd_login li {
  padding-left: 23px;
}
body #gnb_1dul {
  margin: 0;
  border: 0 !important;
}
body #gnb_1dul .gnb_1da {
  color: #F8F8F8;
  font-weight: 300;
  padding: 0 20px;
}
body #gnb_1dul .gnb_1da:hover {
  color: #1E1E1E !important;
}
body .fa + .sound_only {
  position: relative !important;
  width: auto;
  height: auto;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 0.9rem;
  line-height: 1.8;
}
body .btn_bo_user li {
  width: auto !important;
}

#wrapper .swiper-slide img {
  width: 100vw;
  height: auto;
}